body{
    margin: 0;
}
nav{
    background-color: rgb(0, 7, 102);
    color: white;
    padding: 15px 0;
}
hr.navhr{
    margin: 0 auto 50px auto;
}
h1{
    text-align: center;
    font-size: xx-large;
    margin: 0;
}
h1 span{
    text-transform: uppercase;
}
h1 span.piros {
    color: rgb(177, 0, 0);
}

.container{
    margin: 0 15%;
    display: flex;
    flex-wrap: wrap;
}
h1.planetext{
    background-color: rgb(0, 7, 102);
    color: white;
    border-radius: 12px 12px 0 0;
}
h3.goodbytxt{
    margin: 0;
    text-align: center;
    padding-bottom: 1px;
    background-color: rgb(0, 7, 102);
    color: white;
    border-radius: 0 0 12px 12px;
    
}
hr{
    border: 2px solid rgb(177, 0, 0) ;
    margin: 0;
    margin-bottom: 20px;
}
hr.goodby{
    border: 2px solid rgb(177, 0, 0) ;
    margin: 0;
    margin-top: 20px;
}
hr.egyeni{
    border: 2px solid rgb(177, 0, 0) ;
    margin: 0;
}
div.c2pack{
    border:  2px solid black;
    border-radius: 15px;
    margin-left: 25px;
    /* height: 1025px; */
    width: 900px;
}
footer{
    margin: 0;
    margin-top: 20px ;
    background-color: rgb(0, 7, 102);
    text-align: center;
    color: white;
    padding: 4px;
}
footer p{
    margin: 0;
}
footer span{
    color: rgb(177, 0, 0);
}





div.pack1{
    display: flex;
    flex-wrap: wrap;
}

/* ticket */

div.ticket{
    background-color: rgba(0, 7, 102, 0.671);
    width: 48%;
    border: 1px solid black;
    margin-left:2px ;
    border-radius: 15px;
    margin-right:1.5% ;
    transition: all 1s ease-in-out;
}
div.ticket:hover{
    transition: scale(1.5);
    width: 49%;
    margin-left: 0.1px;
    margin-right: 1px;
    
}
div.insideticket{
    display: flex;
    flex-wrap: wrap;
}
div.ticketpic {
    
    width: 60%;
}
div.ticketpic img {
    width: 100%;
}
div.qrcode{
    margin-top: 5px ;
    width: 30%;
}
div.qrcode p{
    padding-left: 60px ;
}
div.qrcode img{
    padding-left: 25px ;
    width: 100%;
}
p.qrcodedescribe{
    font-size: 9px;
}
div.ticketinfo{
    width: 100%;
}
li{
   list-style-type: none;
   width: 100%;
   display: flex;
   flex-wrap: wrap;
}
li{
    font-size: small;
}
li.smallletter{
    font-size: x-small;
}
li.smallletter ul{
    padding-right: 15px ;
}






div.menu{
    width: 48%;
    border: 1px solid black;
    border-radius: 15px;
    margin-left: 1.5% ;
    height: 560px;
    background-color: rgba(0, 7, 102, 0.671);
    transition: all 0.5s ease-in-out;
}
div.menu:hover{
    transition: scale(1.5);
    width: 49.5%;
    margin-left: 1px;
    
}
img.mealimg{
    width: 90%;
    transition: all 0.4s ease-in-out;
    transition-delay: 0.1s ;
    
}
img.mealimg:hover{
    transition: scale(1.5);
    width: 95%;    
}
div p.meal{
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    transition: all 0.5s ease-in-out;
    transition-delay: 0.1s ;


}
div p.meal:hover{
    padding-top: 0px;
    transition: scale(1.5);
}
div.menutxt {
    text-align: center;
}
div.menutxt h1{
    margin: 0;
    color: red;
}
div.menutxt h1:hover{
    transition: all 2s;
    transform: rotateY(360deg);
}
div.menutxt p{
    color: white;
    transition: all 0.5s ease-in-out ;
    transition-delay: 0.1s ;
    padding: 0 22px;
}
div.menutxt p:hover{
    transition: scale(1.5);
    font-size: large;
    padding: 0px;
    
}




div.reklam{
    margin: 20px 3px;
    border: 1px solid black;
    border-radius: 15px;
    height: 330px;
    background-color: rgba(0, 7, 102, 0.671);
    transition: all 0.75s;

}
div.reklam:hover{
    margin: 17px 0px;
    height: 333px;
}






div.gepNagy {
    border: 2px solid black;
    border-radius: 15px;
    width: 350px;
}
h3{
    margin: 3px auto;
}
div.gepKicsi{
    margin: 1px;
}
a{
    text-decoration: none;
    color: black;
}
div h3{
    vertical-align: middle;
    padding-top: 4px ;
}
div.reklamblokk{
    text-align: center;
}
a.a_buy{
    color: rgb(177, 0, 0);
    
}




ul.ticketul{
    font-size: larger;
    margin: 10px auto;
    color: white;
    text-align: center;
    
}
li.ticketli{
    text-align: center;
    font-size: large;
    float: left;
    transition: all 0.5s;
    
}
li.tu1:hover{
    transition: scale(1.5);
    background-color: rgba(0, 7, 102, 0.671);
    font-size: larger;

}
li.tu2:hover{
    transition: scale(1.5);
    background-color: rgba(0, 7, 102, 0.671);
    font-size: larger;

}
li.tu3:hover{
    transition: scale(1.5);
    background-color: rgba(0, 7, 102, 0.671);
    font-size: larger;

}
a.a_buyit{
    color: white;
    transition: all 0.4s;
}
a.a_buyit:hover{
    transition: scale(1.5);
    color: rgb(177, 0, 0);
    font-weight: bolder;

}




/* Első sor */

div.ElsoSor{
    display: flex;
    flex-wrap: wrap;
}
div.ElsoSor:hover{
    background-color: rgba(255, 0, 0, 0.274);
}
div.sor1 {
    text-align: center;
    width: 12%;
    height: 40px;
}

/* Második sor */

div.MasodikSor{
    display: flex;
    flex-wrap: wrap;
}
div.MasodikSor:hover{
    background-color: rgba(0, 225, 255, 0.274) ;
}
div.sor2 {
    text-align: center;
    width: 12%;
    height: 40px;
}

/* Harmadik sor */

div.HarmadikSor{
    display: flex;
    flex-wrap: wrap;
}
div.HarmadikSor:hover{
    background-color: rgba(255, 255, 0, 0.274);
}
div.sor3 {
    text-align: center;
    width: 12%;
    height: 40px;
}

/* Negyedik sor */

div.NegyedikSor{
    display: flex;
    flex-wrap: wrap;
}
div.NegyedikSor:hover{
    background-color: rgba(0, 138, 0, 0.274);
}
div.sor4 {
    text-align: center;
    width: 12%;
    height: 40px;
}

/* Ötödik sor */

div.OtodikSor{
    display: flex;
}
div.OtodikSor:hover{
    background-color: rgba(0, 0, 0, 0.274);
}
div.sor5 {
    text-align: center;
    width: 12%;
    height: 40px;


}


/* Ülések */

div#a1 {
    margin: 4px;
    background-color: rgba(0, 223, 0, 0.644);
    border-radius: 15px;



}
div#a1:hover {
    background-color: rgba(255, 94, 0, 0.63);
    border-radius: 15px;
    padding-top: 3px;
    width: 13%;
    height: 40px;
    transition: 0.5s;
    transition-delay: 0.1s ;
}
div#a2 {
    margin: 4px;
    background-color: rgba(0, 223, 0, 0.644);
    border-radius: 15px;
}
div#a2:hover {
    background-color: rgba(255, 94, 0, 0.63);
    border-radius: 15px;
    padding-top: 3px;
    width: 13%;
    height: 40px;
    transition: 0.5s;
    transition-delay: 0.1s ;
}
div#a3 {
    margin: 4px;
    background-color: rgba(0, 223, 0, 0.644);
    border-radius: 15px;
}
div#a3:hover {
    background-color: rgba(255, 94, 0, 0.63);
    border-radius: 15px;
    padding-top: 3px;
    width: 13%;
    height: 40px;
    transition: 0.5s;
    transition-delay: 0.1s ;
}
div#a4 {
    margin: 4px;
    background-color: rgba(0, 223, 0, 0.644);
    border-radius: 15px;
}
div#a4:hover {
    background-color: rgba(255, 94, 0, 0.63);
    border-radius: 15px;
    padding-top: 3px;
    width: 13%;
    height: 40px;
    transition: 0.5s;
    transition-delay: 0.1s ;
}
div#a5 {
    margin: 4px;
    background-color: rgba(0, 223, 0, 0.644);
    border-radius: 15px;
}
div#a5:hover {
    background-color: rgba(255, 94, 0, 0.63);
    border-radius: 15px;
    padding-top: 3px;
    width: 13%;
    height: 40px;
    transition: 0.5s;
    transition-delay: 0.1s ;
}
div#a6 {
    margin: 4px;
    background-color: rgba(0, 223, 0, 0.644);
    border-radius: 15px;
}
div#a6:hover {
    background-color: rgba(255, 94, 0, 0.63);
    border-radius: 15px;
    padding-top: 3px;
    width: 13%;
    height: 40px;
    transition: 0.5s;
    transition-delay: 0.1s ;
}



img{
    width: 100%;
    transform: 2s;
}
.dropdown {
    /* position: relative; */
    display: inline-block;
  }

.dropdown-content {
    display: none;
    position: absolute;
    transform: 1s;
    background-color: #f9f9f9;
    width: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
div.dropdown-content:hover{
    transform: 2s;
}

.dropdown:hover .dropdown-content {
    display: inline-block;
}













.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}


.modal-content {
    background-color: rgb(38, 44, 131);
    margin: 10px auto;
    padding: 20px;
    width: 50%;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.modal-content img{
    width: 50%;
}
.modal-content p{
    width: 50%;
    text-align: center;
    margin: 15px auto;
    color: white;
}
.modal-content h1{
    margin: 15px auto;
    margin-bottom: 15px;
    color: white;
}
